body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Container {
  width: 50%;
  border: 1px black solid;
  border-radius: 20px;
  margin-left: 400px;
  margin-top: 20px;
  height: 350px;
}
.suggestion {
  cursor: pointer;
  width: 50%;
  text-align: center;
  margin-left: 180px;
}


.suggestion:hover {
  background-color: bisque;
}

.onkey:hover {
  background-color: bisque;
}

.list {
  border: 1px black solid;
  border-radius: 10px;
  width: 20%;
  margin: 5px;
  margin-left: 650px;
}
